@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    margin: 0;
}

.contact__container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-content: center;
}

.contact__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contact__card {
    border-radius: 5px;
    background-color: #ccc;
    padding: 1rem 0;
    margin-bottom: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: .813rem;
    padding: .25rem;
    background-color: #fff;
    z-index: 10;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(219, 4%, 55%);
    background: none;
    color: hsl(219, 8%, 75%);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
    resize: none;
}

.btn {
    display: inline-block;
    background-color: aquamarine;
    color: hsl(219, 48%, 8%);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: 600;
    transition: all .4s ease 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.contact__button {
    text-decoration: none;
    margin-top: .5rem;
}